[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
[submodule "talkinghead_3d"]
	path = talkinghead_3d
	url = https://github.com/met4citizen/TalkingHead.git
